name: GPU Test
permissions:
  contents: read
on:
  schedule:
    # Every day at 5 AM UTC+8
    - cron: '0 21 * * *'

  workflow_dispatch:

  repository_dispatch:
    types: [ci-gpu, ci-all]

run-name: >-
  ${{ github.event_name == 'repository_dispatch'
      && format(
        'GPU Test - PR #{0} - {1} - {2}',
        github.event.client_payload.pull_number,
        github.event.client_payload.ci_label,
        github.event.client_payload.correlation_id
      )
      || format('GPU Test - {0}', github.event_name) }}

jobs:
  tests-full:
    if: >
      github.event_name != 'repository_dispatch' ||
      github.event.action == 'ci-gpu' ||
      github.event.action == 'ci-all'
    name: GPU Test with Python ${{ matrix.python-version }} (${{ matrix.setup-script }})

    runs-on: [self-hosted, 1ES.Pool=agl-runner-cpu]
    timeout-minutes: 30
    steps:
      - name: Check disk space
        run: df -h
      - uses: actions/checkout@v4
      - run: az login --identity
      - name: Check Azure status
        run: az account show
